body {
  margin: 0;
  background-color: #1C1C1C;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

header {
display: flex;
max-width: 350px;
margin: 2em auto 0 auto;
position: relative;
height: 200px;
background-image: url(./images/dafefd9440637dd9b0240098474b6d8dd9487d8c.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center 10%;
color: #FFF;
z-index: 1;
overflow: hidden;
}

header .overlay{
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: rgba(0, 0, 0, 0.8);
 z-index: 1;
}

.top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: auto;
  width: 90%;
  color: #FFF;
}

h1 {
  font-size: 1.4rem;
}

p a {
  text-decoration: none;
  color: #FFF;
  font-size: 0.7rem;
}

.search-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

.search-container {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  background-color: #2E2E2F;
  padding: 0.5em 1em;
  border-radius: 5px;
  max-width: 280px;
  gap: 0.5em;
}

.search-container i {
  color: #9CA3AF;
  font-size: 0.8em;
}

input[type="text"] {
  background-color: #2E2E2F;
  width: 130px;
  border: none;
  color: #FFF;
  padding-left: 0.5em;
  font-size: 0.9rem;
}

.search-btn {
  cursor: pointer;
  background-color: #4B4B4B;
  border: none;
  padding: 0.5em 1.5em;
  color: #FFF;
  font-weight: 500;
  border-radius: 0px 6px 6px 0px;
}

main {
  display: flex;
  margin: auto;
  margin-top: -2em;
  min-height: 560px;
  background-color: #121212;
  max-width: 350px;
  margin-bottom: 2em;
}

.start-exploring-container  {
  display: block;
  margin: auto;
  text-align: center;
}


.start-exploring-container i {
  color: #2E2E2F;
  font-size: 4rem;
}

.start-exploring-container h4 {
  color: #2E2E2F;
  font-weight: 700;
  margin-top: 0.3em;
  font-size: 1.2rem;
}

.please-try-another-search-container{
  display: none;
  padding: 1em;
  line-break: normal;
  margin: auto;
  text-align: center;
  width: 80%;
  color: #787878;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.2rem;
}

.movie-main-containers {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 3em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.movie-main-container {
  border-bottom: 1.5px solid #2C2C2C; 
  display: flex;
  align-items: flex-start;
}

.movie-main-container:last-child {
  border-bottom: none;
}

.movie-img {
  width: 30%;
  display: block;
  margin-top: 1.5em;
}

.movie-container {
  margin-left: 1.5em;
  color: #FFF;
}

.movie-header-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.rating {
  font-size: 0.75rem;
}

.movie-header-container i {
  color: #FEC654;
  font-size: 0.65rem;

}

.about-movie-container {
  display: flex;
  font-size: 0.55rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.add-watchlist-btn {
  display: flex;
  align-items: center;
  font-size: 0.55rem;
  gap: 0.3em;
}

.plus {
  border: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 900;
  color: black;
  background-color: #FFF;
}

.plus i {
  font-size: 0.6rem;
}

.movie-description-container p {
  color: #A5A5A5;
  font-size: 0.75em;
  line-height: 1.4;
}

.add-movies-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #787878;
  font-weight: 700;
  font-size: 0.8rem;
}

.add-movies-container h3 {
  margin-bottom: 0;
}

.add-movies-btn {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  gap: 0.5em;
  font-weight: 700;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  header,
  main {
    max-width: 540px;
  }
  .search-wrapper {
    margin: auto;
    max-width: 540px
  }
  

  .movie-img{
    margin: 2em 0;
  }

  .movie-main-container {
    align-items: flex-start;
  }

  .movie-header-container h4{
    font-size: 1.4rem;
  }

  .movie-header-container p,
  .movie-header-container i {
    font-size: 1rem;
  }

  .about-movie-container{
    font-size: 0.85rem;
  }

  .movie-description-container{
    font-size: 1.2rem;
  }
}